@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&&family=Lato&family=Mulish:ital,wght@0,300;1,300&Lato:ital,wght@0,300;0,400;1,300;1,400&family=Raleway:ital,wght@0,300;0,400;1,300;1,400&display=swap');


body {
  font-family: Cardo;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0.25rem;
}

h2 {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0.25rem;
  text-transform: uppercase;
}

div {
  padding: .5rem;

}

ul li {
  list-style: none;
  padding-left: 0;

}

/*HOME*/

.homelist {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: .25rem;
  max-width: 920px;
  margin: 0px auto;
  align-content: center;
  text-align: center;

}

.homelist a:link {
  text-decoration: none;
  font-size: 1.3rem;
  font-variant: small-caps;
}

.homelist ul li {
  list-style: none;
  padding-left: 0;

}

.homelist h1{
  font-family: Montserrat;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0.25rem;
  text-align: center;
  text-transform: uppercase;
}

/*TOP*/

.topwrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: .25rem;
  max-width: 920px;
  margin: 0px auto;
   }

.photo {
  grid-column: span 100%; 
  padding: 0px;
  margin: 0px; }

.photo img {
  width: 100%; }

.title {
  grid-column: span 100%; 
  align-items: center; 
  justify-items: center;
  text-align: center;
  text-transform: uppercase;


  }

.title h1 {
    
    font-size: 3rem;
  }

.intro {
  grid-column: span 100%; 
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-items: start | stretch;
  align-content: start;
  text-align: left;

}


.line {
  grid-column: span 100%;
}

.line hr {
  color: #eee;
}


/*INFO*/

.infowrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: .25rem;
  max-width: 920px;
  margin: 0px auto;
   }

.info {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-items: center | stretch;
  justify-items: center;
  align-content: start | stretch;

  }


.infotext {

  font-family: cardo;
  font-size: 1rem;
  font-style: italic;
  }

.infotitle {
  }

.infoline {
  grid-column: span 3;
  }

.infoline hr {
  color: #eee;
}

/*RECIPE*/

.recipeingredientwrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-auto-rows: auto;
  grid-gap: .25rem;
  max-width: 920px;
  margin: 0px auto;
   }

.recipe {

  display: grid;
  grid-template-rows: 40px auto;
  align-items: center;
  justify-items: start | stretch;
  align-content: start;
  text-align: left;

}

.recipe h1 {
  text-align: center;

}

.recipedescription {
  margin: 24px;
  padding: 100;
  text-align: left;


}

/*INGREDIENTS*/

.ingredients {

  display: grid;
  grid-template-rows: 40px auto;
  align-items: center;
  justify-items: start | stretch;
  align-content: start;
  text-align: left;
}

.ingredientlist {
  margin: 24px;
}

.ingredients h1 {
  text-align: center;
}

.ingredients ul li {
  list-style: none;
  padding-left: 0;

}

@media (max-width: 500px) {
  .topwrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: .25rem;
  margin: 0px auto;
  }
  
  .infowrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: .25rem;
  margin: 0px auto;
  }

  .recipeingredientwrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: .25rem;
  margin: 0px auto;
  }

  .infoline {
  grid-column: span 1;
  }
}
